
  
  .title-init{
      display: flex;
      justify-content: center;
      color: white;
      padding: 1em;
  }
  .container-carousel{
      display: flex;
      justify-content: center;
  
  }
  
  .container-select{
      display: flex;
      color: white;
      padding: 3em;
      flex-flow: column;
      text-align: center;
  }


.container{
    background-color: red;
    display: flex;
    justify-content: center;
    flex-flow: column;
    height: 50em;
  }

  .img-poke{
      width: 30em;
      height: 28em;
  }

  